[submodule "HardwareRepository"]
	path = HardwareRepository
	url = https://hellmig@github.com/hellmig/HardwareRepository.git
[submodule "BlissFramework"]
	path = BlissFramework
	url = https://hellmig@github.com/hellmig/BlissFramework.git
[submodule "HardwareObjects"]
	path = HardwareObjects
	url = https://hellmig@github.com/hellmig/HardwareObjects.git
